Repository levino/shipyard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,astro,css,json,yaml}": ["prettier --write"],
  "*.{mdx,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

fix file
  apps/demo/tests/e2e/scripts.spec.ts
Due: prettier --write, eslint --fix

Delete .github/workflows/claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

fix linting issues
  apps/single-locale-demo/.astro/collections/blog.schema.json
  apps/single-locale-demo/.astro/collections/docs.schema.json
  apps/single-locale-demo/.astro/content-assets.mjs
  apps/single-locale-demo/.astro/content-modules.mjs
  apps/single-locale-demo/.astro/content.d.ts
  apps/single-locale-demo/.astro/types.d.ts
  apps/single-locale-demo/.gitignore
  apps/single-locale-demo/astro.config.mjs
  apps/single-locale-demo/package.json
  apps/single-locale-demo/src/content.config.ts
  apps/single-locale-demo/src/env.d.ts
  apps/single-locale-demo/tailwind.config.mjs
  apps/single-locale-demo/tsconfig.json
Due: prettier --write, eslint --fix

update deps
  package-lock.json
Due: prettier --write

use older, working version of biome
  .github/workflows/checks.yml
Due: none

--wip-- [skip ci]
  apps/single-locale-demo/docs/index.md
  apps/single-locale-demo/package.json
  apps/single-locale-demo/tailwind.config.mjs
  package-lock.json
  packages/base/astro/components/SidebarNavigation.astro
  packages/base/astro/layouts/Page.astro
  packages/docs/astro/Layout.astro
Due: prettier --write

Revert "use older, working version of biome"
  .github/workflows/checks.yml
Due: none

fix support for single language pages
  apps/demo/astro.config.mjs
  apps/docs/astro.config.mjs
  apps/docs/tailwind.config.mjs
  apps/single-locale-demo/astro.config.mjs
  apps/single-locale-demo/docs/details/cool-stuff.md
  apps/single-locale-demo/docs/details/index.md
  apps/single-locale-demo/docs/index.md
  apps/single-locale-demo/package.json
  apps/single-locale-demo/src/pages/about.md
  apps/single-locale-demo/tailwind.config.mjs
  biome.json
  package-lock.json
  package.json
  packages/base/astro/layouts/Page.astro
  packages/base/package.json
  packages/base/src/schemas/config.ts
  packages/docs/astro/Layout.astro
  packages/docs/package.json
Due: prettier --write, eslint --fix

remove fake configuration option for paths
  apps/demo/astro.config.mjs
  apps/docs/astro.config.mjs
  apps/single-locale-demo/astro.config.mjs
  apps/single-locale-demo/src/content.config.ts
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/Layout.astro
  packages/blog/src/index.ts
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

add changesets
  .changeset/hungry-pants-stand.md
  .changeset/metal-rules-enter.md
Due: prettier --write

simplify code
  apps/demo/src/pages/en/about.md
  packages/base/src/index.ts
  packages/base/src/schemas/config.ts
  packages/blog/astro/BlogIndex.astro
  packages/docs/astro/DefaultLocaleDocsEntry.astro
  packages/docs/astro/DocsEntry.astro
Due: prettier --write, eslint --fix

add provenance to npm publish
  .changeset/odd-cars-rush.md
  .github/workflows/changeset.yml
Due: prettier --write

trigger release
  .changeset/famous-knives-spend.md
Due: prettier --write

adding repo info
  packages/base/package.json
  packages/blog/package.json
  packages/docs/package.json
Due: prettier --write

Fix footer links to work without i18n
  package-lock.json
  packages/base/astro/layouts/Footer.astro
Due: prettier --write

Add changeset for footer fix
  .changeset/fix-footer-links-without-i18n.md
Due: prettier --write

add gemini
  .devcontainer/devcontainer.json
  .github/workflows/checks.yml
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  .gitignore
  package-lock.json
  package.json
Due: prettier --write

fix: improve Gemini workflow error handling and reporting
  .github/GEMINI_SETUP.md
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-triage.yml
Due: prettier --write

fix: report actual Gemini errors instead of generic messages
  .github/GEMINI_SETUP.md
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-triage.yml
Due: prettier --write

Revert "fix: report actual Gemini errors instead of generic messages"
  .github/GEMINI_SETUP.md
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-triage.yml
Due: prettier --write

allow gemini to write to the repo
  .github/workflows/gemini-invoke.yml
Due: none

allow write
  .github/workflows/gemini-dispatch.yml
Due: none

Reapply "fix: report actual Gemini errors instead of generic messages"
  .github/GEMINI_SETUP.md
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-triage.yml
Due: prettier --write

yolo!
  .github/workflows/gemini-invoke.yml
Due: none

Revert "Reapply "fix: report actual Gemini errors instead of generic messages""
  .github/GEMINI_SETUP.md
  .github/workflows/gemini-invoke.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-triage.yml
Due: prettier --write

Remove plan and approve steps from gemini-invoke.yml
  .github/workflows/gemini-invoke.yml
Due: none

feat: Acknowledge requests with an emoji reaction
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-triage.yml
Due: none

remove unsound logic from instructions for gemini cli
  .github/workflows/gemini-invoke.yml
Due: none

fix bug
  .github/workflows/gemini-dispatch.yml
Due: none

simplify
  .devcontainer/devcontainer.json
Due: prettier --write

fix broken e2e test script
  .github/workflows/checks.yml
Due: none

Remove section on `sidebar_custom_props` support
  apps/demos/i18n-docusaurus/docs/sidebar-demo/index.md
Due: prettier --write

Merge pull request #85 from levino/claude/issue-84-20251121-1520
  Readme.md
  apps/demos/i18n-docusaurus/sidebars.ts
  apps/docs/src/pages/en/index.md
Due: prettier --write, eslint --fix

feat: Add Docusaurus-like navigation features (#87)
  .changeset/docusaurus-features.md
  CLAUDE.md
  apps/demos/i18n/tests/e2e/navigation-features.spec.ts
  apps/demos/single-language/src/layouts/CustomTocLayout.astro
  apps/demos/single-language/src/pages/docs/custom-toc-example.astro
  apps/docs/docs/en/feature.md
  packages/base/astro/components/Breadcrumbs.astro
  packages/base/astro/components/SidebarElement.astro
  packages/base/astro/components/TableOfContents.astro
  packages/base/astro/components/index.ts
  packages/docs/astro/DocsEntry.astro
  packages/docs/astro/Layout.astro
Due: prettier --write, eslint --fix

feat: Add RC publishing from changeset release PR
  .github/workflows/changeset.yml
Due: none

chore: Update create-github-app-token to v2
  .github/workflows/changeset.yml
Due: none

fix: Add contents:read permission for checkout
  .github/workflows/changeset.yml
Due: none

chore: Skip git tags for RC releases
  .github/workflows/changeset.yml
Due: none

chore: Remove redundant contents:read from release job
  .github/workflows/changeset.yml
Due: none

feat: Add git SHA to RC version numbers
  .github/workflows/changeset.yml
Due: none
