Repository levino/shipyard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Potential fix for code scanning alert no. 13: Incomplete multi-character sanitization
  packages/blog/src/readingTime.ts
Due: prettier --write, eslint --fix

add claude agents
  .claude/agents/implementation.md
  .claude/agents/requirements.md
  .claude/agents/tasks.md
  .claude/agents/tech-design.md
Due: prettier --write

docs: add comprehensive Code Style Guide
  CLAUDE.md
  apps/docs/docs/de/contributing/code-style.md
  apps/docs/docs/en/contributing/code-style.md
  specs/code-style-guide/design.md
  specs/code-style-guide/requirements.md
  specs/code-style-guide/tasks.md
Due: prettier --write

docs: simplify Code Style Guide - work in progress
  apps/docs/docs/de/contributing/index.md
  apps/docs/docs/en/contributing/code-style.md
  apps/docs/docs/en/contributing/index.md
Due: prettier --write

docs: restructure Code Style Guide into separate pages
  apps/docs/docs/de/contributing/code-style.md
  apps/docs/docs/en/contributing/code-style/documentation-through-code.md
  apps/docs/docs/en/contributing/code-style/functional-programming.md
  apps/docs/docs/en/contributing/code-style/index.md
  apps/docs/docs/en/contributing/code-style/naming-conventions.md
  apps/docs/docs/en/contributing/code-style/web-components.md
Due: prettier --write

docs: add "Why Shipyard?" documentation section
  apps/docs/docs/en/index.md
  apps/docs/docs/en/why-shipyard/comparison.md
  apps/docs/docs/en/why-shipyard/index.md
  apps/docs/docs/en/why-shipyard/philosophy.md
  apps/docs/docs/en/why-shipyard/sustainability.md
Due: prettier --write

chore: regenerate package-lock.json
  apps/docs/docs/en/why-shipyard/comparison.md
  apps/docs/docs/en/why-shipyard/index.md
  apps/docs/docs/en/why-shipyard/philosophy.md
  apps/docs/docs/en/why-shipyard/sustainability.md
  package-lock.json
Due: prettier --write

fix: add explicit docusaurus plugin dependencies
  apps/demos/i18n-docusaurus/package.json
  apps/demos/single-language-docusaurus/package.json
  package-lock.json
Due: prettier --write

docs: polish documentation for public release
  apps/docs/blog/en/2024-01-10-blog-post-1.md
  apps/docs/blog/en/2026-01-06-public-release.md
  apps/docs/docs/de/getting-started.md
  apps/docs/docs/de/index.md
  apps/docs/docs/de/why-shipyard/comparison.md
  apps/docs/docs/de/why-shipyard/index.md
  apps/docs/docs/de/why-shipyard/philosophy.md
  apps/docs/docs/de/why-shipyard/sustainability.md
  apps/docs/docs/en/getting-started.md
  apps/docs/docs/en/index.md
  apps/docs/docs/en/why-shipyard/philosophy.md
  apps/docs/src/pages/en/about.md
Due: prettier --write

fix(docs): remove custom blog index to use shipyard-blog injected route
  apps/docs/src/pages/en/blog/index.astro
Due: prettier --write

fix(docs): use first person in blog post
  apps/docs/blog/en/2026-01-06-public-release.md
Due: prettier --write

fix(docs): add author signature to blog post
  apps/docs/blog/en/2026-01-06-public-release.md
Due: prettier --write

feat(docs): add Plausible analytics script
  apps/docs/astro.config.mjs
Due: none

feat(docs): add Docusaurus-style category metadata support
  apps/demos/i18n/docs/en/always-open/child-page.md
  apps/demos/i18n/docs/en/always-open/index.md
  apps/demos/i18n/docs/en/category-only/about-this-category.md
  apps/demos/i18n/docs/en/category-only/index.md
  apps/demos/i18n/docs/en/sidebar-demo/custom-class.md
  apps/demos/i18n/docs/en/sidebar-demo/custom-label.md
  apps/demos/i18n/docs/en/sidebar-demo/index.md
  apps/demos/i18n/docs/en/sidebar-demo/pagination-demo.md
  apps/demos/i18n/docs/en/sidebar-demo/unlisted-page.md
  apps/demos/i18n/tests/e2e/category-metadata.spec.ts
  apps/demos/i18n/tests/e2e/unlisted-pages.spec.ts
  packages/base/astro/components/SidebarElement.astro
  packages/base/astro/components/types.ts
  packages/docs/astro/Layout.astro
  packages/docs/src/fallbacks.test.ts
  packages/docs/src/fallbacks.ts
  packages/docs/src/index.ts
  packages/docs/src/pagination.test.ts
  packages/docs/src/pagination.ts
  packages/docs/src/schema.test.ts
  packages/docs/src/sidebarEntries.test.ts
  packages/docs/src/sidebarEntries.ts
Due: prettier --write, eslint --fix

chore: add claude configuration
  .claude/agents/implementation.md
  .claude/agents/requirements.md
  .claude/agents/tasks.md
  .claude/agents/tech-design.md
Due: prettier --write

chore: add keywords and metadata for Astro integrations directory
  packages/base/package.json
  packages/blog/package.json
  packages/docs/package.json
Due: prettier --write

fix: update demo URLs and fix broken documentation links
  CLAUDE.md
  apps/docs/docs/de/getting-started.md
  apps/docs/docs/en/getting-started.md
  apps/docs/src/pages/en/index.md
Due: prettier --write

Fix link in Single Locale Demo section
  apps/docs/src/pages/en/index.md
Due: prettier --write

feat: add Ralph Wiggum loop for autonomous task execution
  .claude/commands/gppr.md
  .gitignore
  package-lock.json
  ralph/PROMPT.md
  ralph/ralph.sh
  ralph/tasks.json
  ralph/tasks.schema.json
Due: prettier --write

feat(ralph): allow adding new tasks during iterations
  ralph/PROMPT.md
Due: prettier --write

feat(ralph): add versioned docs task list
  ralph/tasks.json
Due: prettier --write

feat(ralph): enhance loop with auto-sourcing, learnings, and testing rules
  ralph/PROMPT.md
  ralph/learnings.md
  ralph/ralph.sh
Due: prettier --write

fix(ralph): restrict new task creation to avoid scope creep
  ralph/PROMPT.md
Due: prettier --write

refactor(ralph): simplify scripts, split into ralph.sh and ralph-once.sh
  ralph/ralph-once.sh
  ralph/ralph.sh
Due: none

fix(ralph): use --prompt flag for interactive mode
  ralph/ralph-once.sh
Due: none

fix(ralph): use correct claude CLI syntax
  ralph/ralph-once.sh
  ralph/ralph.sh
Due: none

feat(ralph): add --dangerously-skip-permissions for autonomous execution
  ralph/ralph-once.sh
  ralph/ralph.sh
Due: none

refactor(ralph): simplify loop script, require number of iterations
  ralph/ralph.sh
Due: none

refactor(ralph): minimal script
  ralph/ralph.sh
Due: none

refactor(ralph): add loop and -p flag to ralph.sh
  ralph/ralph.sh
Due: none

fix(ralph): add session progress echo
  ralph/ralph.sh
Due: none

fix(ralph): add --verbose for more output
  ralph/ralph.sh
Due: none

feat(docs): add version schema and TypeScript types
  packages/docs/src/index.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(ralph): add <promise>COMPLETE</promise> to break loop when done
  ralph/PROMPT.md
  ralph/ralph.sh
Due: prettier --write

feat(ralph): include CLAUDE.md in context
  ralph/ralph-once.sh
  ralph/ralph.sh
Due: none

feat(ralph): emphasize in_progress check and immediate status update
  ralph/PROMPT.md
Due: prettier --write

feat(docs): add versions config to docs integration
  packages/docs/src/index.ts
  packages/docs/src/virtual-module.d.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

fix(ralph): use absolute paths for all files
  ralph/ralph-once.sh
  ralph/ralph.sh
Due: none

feat(docs): add versioned route helpers
  packages/docs/src/index.ts
  packages/docs/src/routeHelpers.test.ts
  packages/docs/src/routeHelpers.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(ralph): use stream-json for live output
  ralph/ralph.sh
Due: none

Path conditions:
  prettier --write: (any of: *.{md,astro,css,json,yaml}) or (any of: *.{mdx,js,jsx,ts,tsx})
  eslint --fix: any of: *.{mdx,js,jsx,ts,tsx}
