Repository levino/shipyard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: add versioning with i18n example
  apps/docs/docs/de/examples/index.md
  apps/docs/docs/de/examples/versioning-with-i18n.md
  apps/docs/docs/en/examples/index.md
  apps/docs/docs/en/examples/versioning-with-i18n.md
  ralph/tasks.json
Due: prettier --write

chore: add Ralph Wiggum documentation and improve developer experience
  CLAUDE.md
  apps/demos/i18n/playwright.config.ts
  apps/demos/server-mode/.gitignore
  apps/demos/server-mode/playwright.config.ts
  apps/demos/single-language/.gitignore
  apps/demos/single-language/playwright.config.ts
  package-lock.json
  packages/blog/astro/Layout.astro
  ralph/history.md
  ralph/ralph.sh
  ralph/tasks.json
Due: prettier --write, eslint --fix

fix(ralph): exit loop when COMPLETE signal is detected
  ralph/ralph.sh
Due: none

docs: add version lifecycle example
  apps/docs/docs/de/examples/index.md
  apps/docs/docs/de/examples/version-lifecycle.md
  apps/docs/docs/en/examples/index.md
  apps/docs/docs/en/examples/version-lifecycle.md
  ralph/tasks.json
Due: prettier --write

feat(docs): add cross-version link resolution with rehype plugin
  apps/demos/versioned-docs/astro.config.mjs
  apps/demos/versioned-docs/docs/v1/configuration.md
  apps/demos/versioned-docs/docs/v1/index.md
  apps/demos/versioned-docs/docs/v2/index.md
  apps/demos/versioned-docs/tests/e2e/cross-version-links.spec.ts
  apps/demos/versioned-docs/tests/e2e/deprecation-banner.spec.ts
  apps/demos/versioned-docs/tests/e2e/version-badge.spec.ts
  apps/demos/versioned-docs/tests/e2e/version-selector.spec.ts
  apps/demos/versioned-docs/tests/e2e/version-sidebar.spec.ts
  apps/demos/versioned-docs/tests/e2e/versioned-docs.spec.ts
  apps/demos/versioned-i18n/astro.config.mjs
  apps/demos/versioned-i18n/tests/e2e/versioned-i18n.spec.ts
  apps/docs/docs/en/guides/versioning.md
  package-lock.json
  packages/docs/package.json
  packages/docs/src/index.ts
  packages/docs/src/rehypeVersionLinks.test.ts
  packages/docs/src/rehypeVersionLinks.ts
  ralph/learnings.md
Due: prettier --write, eslint --fix

chore: remove _category_.json support, use index.md frontmatter instead
  .changeset/multi-instance-blogs.md
  apps/docs/docs/de/roadmap.md
  apps/docs/docs/en/roadmap.md
  packages/docs/src/categoryMetadata.test.ts
  packages/docs/src/categoryMetadata.ts
Due: prettier --write, eslint --fix

chore: remove temporary specs folder
  specs/category-metadata-astro-native/design.md
  specs/category-metadata-astro-native/requirements.md
  specs/category-metadata-astro-native/tasks.md
  specs/code-style-guide/design.md
  specs/code-style-guide/requirements.md
  specs/code-style-guide/tasks.md
Due: prettier --write

perf(docs): optimize version path lookups with pre-computed Map
  apps/docs/docs/de/guides/versioning.md
  apps/docs/docs/en/guides/versioning.md
  packages/docs/src/index.ts
  packages/docs/src/routeHelpers.test.ts
  packages/docs/src/routeHelpers.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

fix(tests): use data-testid selectors and fix test issues
  apps/demos/i18n/docs/en/sidebar-demo/custom-label.md
  apps/demos/i18n/funkyTests.md
  apps/demos/i18n/tests/e2e/blog-plugin-features.spec.ts
  apps/demos/i18n/tests/e2e/titles.spec.ts
  apps/demos/i18n/tests/e2e/unlisted-pages.spec.ts
  package.json
  packages/blog/astro/BlogIndex.astro
Due: prettier --write, eslint --fix

chore: move funkyTests.md to repo root
  funkyTests.md
Due: prettier --write

fix: use sidebar.position instead of sidebar_position in guides
  apps/demos/i18n/guides/en/advanced-techniques.md
  apps/demos/i18n/guides/en/getting-started.md
  apps/demos/i18n/guides/en/index.md
  apps/demos/i18n/tests/e2e/multi-docs.spec.ts
  funkyTests.md
Due: prettier --write, eslint --fix

fix: update changeset to use correct shipyard frontmatter terminology
  .changeset/multi-instance-blogs.md
Due: prettier --write

feat!: remove sidebar_* snake_case aliases from docs schema
  packages/docs/src/index.ts
  packages/docs/src/schema.test.ts
  packages/docs/src/sidebarEntries.test.ts
Due: prettier --write, eslint --fix

fix: llms.txt copy button not working in sidebar
  packages/docs/astro/Layout.astro
  packages/docs/astro/LlmsTxtSidebarLabel.astro
Due: prettier --write

fix: improve test selectors to handle page structure correctly
  apps/demos/versioned-docs/tests/e2e/cross-version-links.spec.ts
  apps/demos/versioned-docs/tests/e2e/version-sidebar.spec.ts
Due: prettier --write, eslint --fix

chore: update workflow state - all tasks complete
  agentic-workflow/versioned-docs-fixes/history.md
  agentic-workflow/versioned-docs-fixes/tasks.json
Due: prettier --write

fix: correct broken internal links in documentation
  apps/docs/docs/en/docs-package.md
  apps/docs/docs/en/guides/versioning.md
Due: prettier --write

chore: add shutdownAction to devcontainer config
  .devcontainer/devcontainer.json
Due: prettier --write

chore: remove local.md files and add to gitignore
  .claude/ralph-loop.local.md
  .gitignore
  apps/demos/i18n/.claude/ralph-loop.local.md
Due: prettier --write

chore: gitignore active-workflow.txt
  .gitignore
  agentic-workflow/active-workflow.txt
Due: none

feat: add wrangler.toml for versioned demos
  apps/demos/versioned-docs/wrangler.toml
  apps/demos/versioned-i18n/wrangler.toml
Due: none

fix: use patch versioning for 0.x releases
  .changeset/broken-links-feature.md
  CLAUDE.md
Due: prettier --write

fix: replace explicit any with proper type cast in tests
  packages/base/src/tools/linkChecker.test.ts
Due: prettier --write, eslint --fix

fix: support SSR mode (prerender: false) for docs and blog pages
  apps/demos/server-mode/playwright.config.ts
  apps/demos/server-mode/tests/e2e/docs.spec.ts
  packages/blog/astro/BlogEntry.astro
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

chore: update package-lock.json
  package-lock.json
Due: prettier --write

refactor: create apps/test/server-mode for proper SSR testing
  apps/test/server-mode/.gitignore
  apps/test/server-mode/astro.config.mjs
  apps/test/server-mode/blog/2024-09-01-getting-started.md
  apps/test/server-mode/blog/2024-09-03-content-management.md
  apps/test/server-mode/blog/2024-09-05-advanced-features.md
  apps/test/server-mode/docs/configuration.md
  apps/test/server-mode/docs/details/cool-stuff.md
  apps/test/server-mode/docs/details/index.md
  apps/test/server-mode/docs/index.md
  apps/test/server-mode/docs/installation.md
  apps/test/server-mode/package.json
  apps/test/server-mode/playwright.config.ts
  apps/test/server-mode/public/.assetsignore
  apps/test/server-mode/src/content.config.ts
  apps/test/server-mode/src/env.d.ts
  apps/test/server-mode/src/layouts/CustomTocLayout.astro
  apps/test/server-mode/src/pages/about.md
  apps/test/server-mode/src/pages/docs/custom-toc-example.astro
  apps/test/server-mode/src/pages/index.astro
  apps/test/server-mode/tailwind.config.mjs
  apps/test/server-mode/tests/e2e/blog-sidebar.spec.ts
  apps/test/server-mode/tests/e2e/docs.spec.ts
  apps/test/server-mode/tests/e2e/titles.spec.ts
  apps/test/server-mode/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore: add changeset for SSR mode support
  .changeset/some-areas-begin.md
Due: prettier --write

chore: configure changesets to keep package versions in sync
  .changeset/config.json
Due: prettier --write

feat: add configurable footer with Docusaurus-like API
  .changeset/configurable-footer.md
  apps/demos/i18n/astro.config.mjs
  apps/demos/i18n/tests/e2e/footer.spec.ts
  apps/demos/single-locale/astro.config.mjs
  apps/demos/single-locale/tests/e2e/footer.spec.ts
  apps/docs/docs/de/base-package.md
  apps/docs/docs/en/base-package.md
  package-lock.json
  packages/base/astro/components/Footer.astro
  packages/base/astro/layouts/Footer.astro
  packages/base/src/schemas/config.ts
Due: prettier --write, eslint --fix

fix: remove monorepo-specific @source directives from globals.css
  packages/base/src/globals.css
Due: prettier --write

feat!: fix Tailwind CSS 4 @source for third-party package usage
  apps/demos/broken-links-test/astro.config.mjs
  apps/demos/broken-links-test/package.json
  apps/demos/broken-links-test/src/styles/app.css
  apps/demos/i18n/astro.config.mjs
  apps/demos/i18n/package.json
  apps/demos/i18n/src/styles/app.css
  apps/demos/server-mode/astro.config.mjs
  apps/demos/server-mode/package.json
  apps/demos/server-mode/src/styles/app.css
  apps/demos/single-locale/astro.config.mjs
  apps/demos/single-locale/package.json
  apps/demos/single-locale/src/styles/app.css
  apps/demos/versioned-docs/astro.config.mjs
  apps/demos/versioned-docs/package.json
  apps/demos/versioned-docs/src/styles/app.css
  apps/demos/versioned-i18n/astro.config.mjs
  apps/demos/versioned-i18n/package.json
  apps/demos/versioned-i18n/src/styles/app.css
  apps/test/server-mode/astro.config.mjs
  apps/test/server-mode/package.json
  apps/test/server-mode/src/styles/app.css
  package-lock.json
  package.json
  packages/base/astro/layouts/Page.astro
  packages/base/package.json
  packages/base/src/globals.css
  packages/base/src/index.ts
  packages/base/src/schemas/config.ts
  packages/base/src/styles/components.css
  scripts/create-demo-symlinks.sh
Due: prettier --write, eslint --fix

fix: correct @source paths in demo CSS files for Tailwind CSS 4
  apps/demos/broken-links-test/src/styles/app.css
  apps/demos/i18n/src/styles/app.css
  apps/demos/server-mode/src/styles/app.css
  apps/demos/single-locale/src/styles/app.css
  apps/demos/versioned-docs/src/styles/app.css
  apps/demos/versioned-i18n/src/styles/app.css
  package.json
  packages/base/astro/layouts/Page.astro
  scripts/create-demo-symlinks.sh
  scripts/verify-css-classes.sh
Due: prettier --write

fix: revert package.json dependencies to workspace references
  apps/demos/broken-links-test/package.json
  apps/demos/i18n/package.json
  apps/demos/server-mode/package.json
  apps/demos/single-locale/package.json
  apps/demos/versioned-docs/package.json
  apps/demos/versioned-i18n/package.json
  apps/test/server-mode/package.json
Due: prettier --write

test: add Playwright test for CSS classes from shipyard packages
  apps/demos/i18n/tests/e2e/css-classes.spec.ts
Due: prettier --write, eslint --fix

fix: use root node_modules path for @source directives
  apps/demos/broken-links-test/src/styles/app.css
  apps/demos/i18n/src/styles/app.css
  apps/demos/server-mode/src/styles/app.css
  apps/demos/single-locale/src/styles/app.css
  apps/demos/versioned-docs/src/styles/app.css
  apps/demos/versioned-i18n/src/styles/app.css
  apps/test/server-mode/src/styles/app.css
Due: prettier --write

chore: remove symlink script references from setup
  package.json
Due: prettier --write

refactor: use ?url import for CSS instead of path resolution
  apps/demos/broken-links-test/astro.config.mjs
  apps/demos/i18n/astro.config.mjs
  apps/demos/server-mode/astro.config.mjs
  apps/demos/single-locale/astro.config.mjs
  apps/demos/versioned-docs/astro.config.mjs
  apps/demos/versioned-i18n/astro.config.mjs
  apps/test/server-mode/astro.config.mjs
  packages/base/src/index.ts
Due: prettier --write, eslint --fix

refactor: use virtual CSS module instead of injectScript
  packages/base/astro/layouts/Page.astro
  packages/base/src/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,astro,css,json,yaml}) or (any of: *.{mdx,js,jsx,ts,tsx})
  eslint --fix: any of: *.{mdx,js,jsx,ts,tsx}
