Repository levino/shipyard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: Simplify RC version modification to one-liner
  .github/workflows/changeset.yml
Due: none

refactor: Use changeset snapshot for RC releases
  .github/workflows/changeset.yml
Due: none

feat: Auto-publish RC on every push to main
  .github/workflows/changeset.yml
Due: none

chore: Remove NPM_TOKEN, use OIDC instead
  .github/workflows/changeset.yml
Due: none

Update links in Readme.md for getting started and demo
  Readme.md
Due: prettier --write

Publish RC release to NPM via changesets (#88)
  .github/workflows/changeset.yml
Due: none

Update config.json
  .changeset/config.json
Due: prettier --write

Fix prose max-width constraint using Tailwind best practice
  packages/docs/astro/Layout.astro
Due: prettier --write

Add documentation pagination feature
  .changeset/add-docs-pagination.md
  apps/demos/i18n-docusaurus/docs/sidebar-demo/pagination-demo.md
  apps/demos/i18n/docs/en/sidebar-demo/pagination-demo.md
  apps/demos/i18n/tests/e2e/pagination.spec.ts
  apps/docs/docs/en/pagination.md
  packages/docs/.changeset/README.md
  packages/docs/.changeset/config.json
  packages/docs/astro/DocPagination.astro
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
  packages/docs/src/pagination.test.ts
  packages/docs/src/pagination.ts
  packages/docs/src/sidebarEntries.ts
Due: prettier --write, eslint --fix

use opus 4.5
  .github/workflows/claude.yml
Due: none

Potential fix for code scanning alert no. 7: Unsafe shell command constructed from library input
  packages/docs/src/gitMetadata.ts
Due: prettier --write, eslint --fix

feat: add @lavamoat/allow-scripts to disable npm lifecycle scripts
  .npmrc
  package-lock.json
  package.json
Due: prettier --write

docs: add README files for shipyard packages
  packages/base/README.md
  packages/blog/README.md
  packages/docs/README.md
Due: prettier --write

chore: add changeset for package READMEs
  .changeset/add-package-readmes.md
Due: prettier --write

docs: restructure and improve package documentation
  apps/docs/docs/en/base-package.md
  apps/docs/docs/en/blog-package.md
  apps/docs/docs/en/docs-package.md
  apps/docs/docs/en/feature.md
  apps/docs/docs/en/index.md
  apps/docs/docs/en/multi-docs.md
  apps/docs/docs/en/pagination.md
Due: prettier --write

feat: add Astro server mode (SSR) support
  .changeset/server-mode-support.md
  apps/demos/server-mode/.gitignore
  apps/demos/server-mode/README.md
  apps/demos/server-mode/astro.config.mjs
  apps/demos/server-mode/blog/2024-09-01-getting-started.md
  apps/demos/server-mode/blog/2024-09-03-content-management.md
  apps/demos/server-mode/blog/2024-09-05-advanced-features.md
  apps/demos/server-mode/docs/configuration.md
  apps/demos/server-mode/docs/details/cool-stuff.md
  apps/demos/server-mode/docs/details/index.md
  apps/demos/server-mode/docs/index.md
  apps/demos/server-mode/docs/installation.md
  apps/demos/server-mode/package.json
  apps/demos/server-mode/playwright.config.ts
  apps/demos/server-mode/src/content.config.ts
  apps/demos/server-mode/src/env.d.ts
  apps/demos/server-mode/src/layouts/CustomTocLayout.astro
  apps/demos/server-mode/src/pages/about.md
  apps/demos/server-mode/src/pages/docs/custom-toc-example.astro
  apps/demos/server-mode/src/pages/index.md
  apps/demos/server-mode/tailwind.config.mjs
  apps/demos/server-mode/tests/e2e/blog-sidebar.spec.ts
  apps/demos/server-mode/tests/e2e/titles.spec.ts
  apps/demos/server-mode/tsconfig.json
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
  packages/blog/src/index.ts
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

chore: update package-lock.json for server-mode demo
  package-lock.json
Due: prettier --write

docs: simplify package documentation for end users
  apps/docs/docs/en/base-package.md
  apps/docs/docs/en/blog-package.md
  apps/docs/docs/en/docs-package.md
Due: prettier --write

feat: add dynamic animal content to server-mode demo
  apps/demos/server-mode/src/pages/index.astro
  apps/demos/server-mode/src/pages/index.md
  apps/demos/server-mode/tests/e2e/titles.spec.ts
Due: prettier --write, eslint --fix

feat: add Cloudflare Pages demo for SSR mode
  apps/demos/server-mode-cloudflare/.gitignore
  apps/demos/server-mode-cloudflare/README.md
  apps/demos/server-mode-cloudflare/astro.config.mjs
  apps/demos/server-mode-cloudflare/blog/2024-09-01-getting-started.md
  apps/demos/server-mode-cloudflare/blog/2024-09-03-content-management.md
  apps/demos/server-mode-cloudflare/blog/2024-09-05-advanced-features.md
  apps/demos/server-mode-cloudflare/docs/configuration.md
  apps/demos/server-mode-cloudflare/docs/details/cool-stuff.md
  apps/demos/server-mode-cloudflare/docs/details/index.md
  apps/demos/server-mode-cloudflare/docs/index.md
  apps/demos/server-mode-cloudflare/docs/installation.md
  apps/demos/server-mode-cloudflare/package.json
  apps/demos/server-mode-cloudflare/playwright.config.ts
  apps/demos/server-mode-cloudflare/src/content.config.ts
  apps/demos/server-mode-cloudflare/src/env.d.ts
  apps/demos/server-mode-cloudflare/src/layouts/CustomTocLayout.astro
  apps/demos/server-mode-cloudflare/src/pages/about.md
  apps/demos/server-mode-cloudflare/src/pages/docs/custom-toc-example.astro
  apps/demos/server-mode-cloudflare/src/pages/index.astro
  apps/demos/server-mode-cloudflare/tailwind.config.mjs
  apps/demos/server-mode-cloudflare/tests/e2e/blog-sidebar.spec.ts
  apps/demos/server-mode-cloudflare/tests/e2e/titles.spec.ts
  apps/demos/server-mode-cloudflare/tsconfig.json
  apps/demos/server-mode-cloudflare/wrangler.toml
  package-lock.json
Due: prettier --write, eslint --fix

fix: simplify wrangler.toml for Cloudflare Pages SSR
  apps/demos/server-mode-cloudflare/wrangler.toml
Due: none

fix: add build command to wrangler.toml
  apps/demos/server-mode-cloudflare/wrangler.toml
Due: none

feat: add language switcher and German documentation
  .changeset/language-switcher.md
  .changeset/markdown-layout.md
  CLAUDE.md
  apps/docs/astro.config.mjs
  apps/docs/docs/de/base-package.md
  apps/docs/docs/de/blog-package.md
  apps/docs/docs/de/docs-package.md
  apps/docs/docs/de/feature.md
  apps/docs/docs/de/index.md
  apps/docs/docs/de/roadmap.md
  packages/base/astro/components/GlobalDesktopNavigation.astro
  packages/base/astro/components/LanguageSwitcher.astro
  packages/base/astro/components/SidebarNavigation.astro
  packages/base/astro/layouts/Markdown.astro
  packages/base/astro/layouts/index.ts
  packages/base/src/index.ts
  packages/base/src/virtual.d.ts
Due: prettier --write, eslint --fix

refactor: consolidate to single server-mode demo with Cloudflare
  apps/demos/server-mode-cloudflare/.gitignore
  apps/demos/server-mode-cloudflare/README.md
  apps/demos/server-mode-cloudflare/astro.config.mjs
  apps/demos/server-mode-cloudflare/blog/2024-09-01-getting-started.md
  apps/demos/server-mode-cloudflare/blog/2024-09-03-content-management.md
  apps/demos/server-mode-cloudflare/blog/2024-09-05-advanced-features.md
  apps/demos/server-mode-cloudflare/docs/configuration.md
  apps/demos/server-mode-cloudflare/docs/details/cool-stuff.md
  apps/demos/server-mode-cloudflare/docs/details/index.md
  apps/demos/server-mode-cloudflare/docs/index.md
  apps/demos/server-mode-cloudflare/docs/installation.md
  apps/demos/server-mode-cloudflare/package.json
  apps/demos/server-mode-cloudflare/playwright.config.ts
  apps/demos/server-mode-cloudflare/src/content.config.ts
  apps/demos/server-mode-cloudflare/src/env.d.ts
  apps/demos/server-mode-cloudflare/src/layouts/CustomTocLayout.astro
  apps/demos/server-mode-cloudflare/src/pages/about.md
  apps/demos/server-mode-cloudflare/src/pages/docs/custom-toc-example.astro
  apps/demos/server-mode-cloudflare/src/pages/index.astro
  apps/demos/server-mode-cloudflare/tailwind.config.mjs
  apps/demos/server-mode-cloudflare/tests/e2e/blog-sidebar.spec.ts
  apps/demos/server-mode-cloudflare/tests/e2e/titles.spec.ts
  apps/demos/server-mode-cloudflare/tsconfig.json
  apps/demos/server-mode/astro.config.mjs
  apps/demos/server-mode/package.json
  apps/demos/server-mode/wrangler.toml
  package-lock.json
Due: prettier --write, eslint --fix

fix: add wrangler as dev dependency for Cloudflare deployment
  apps/demos/server-mode/package.json
Due: prettier --write

docs: document Markdown layout and clarify layout purposes
  apps/docs/docs/de/base-package.md
  apps/docs/docs/en/base-package.md
Due: prettier --write

chore: sync package-lock.json with wrangler dependency
  package-lock.json
Due: prettier --write

fix: update wrangler.toml for Astro SSR per Cloudflare docs
  apps/demos/server-mode/wrangler.toml
Due: none

Apply suggestion from @Copilot
  apps/demos/server-mode/astro.config.mjs
Due: none

fix: prerender docs and blog, only custom pages are dynamic
  apps/demos/server-mode/astro.config.mjs
Due: none

fix: add .assetsignore to exclude worker files from assets
  apps/demos/server-mode/public/.assetsignore
Due: none

style: fix import order
  apps/demos/server-mode/astro.config.mjs
Due: none

fix: translate demo content from German to English
  apps/demos/server-mode/src/pages/index.astro
Due: prettier --write

Improve documentation consistency and package usage (#117)
  .changeset/language-switcher.md
  .changeset/markdown-layout.md
  CLAUDE.md
  apps/demos/i18n/tests/e2e/blog-plugin-features.spec.ts
  apps/demos/i18n/tests/e2e/sidebar-demo.spec.ts
  apps/demos/single-language/tests/e2e/blog-sidebar.spec.ts
  apps/docs/astro.config.mjs
  apps/docs/docs/de/base-package.md
  apps/docs/docs/de/blog-package.md
  apps/docs/docs/de/docs-package.md
  apps/docs/docs/de/feature.md
  apps/docs/docs/de/index.md
  apps/docs/docs/de/roadmap.md
  apps/docs/docs/en/base-package.md
  apps/docs/docs/en/blog-package.md
  apps/docs/docs/en/docs-package.md
  apps/docs/docs/en/feature.md
  apps/docs/docs/en/index.md
  apps/docs/docs/en/multi-docs.md
  apps/docs/docs/en/pagination.md
  packages/base/astro/components/GlobalDesktopNavigation.astro
  packages/base/astro/components/LanguageSwitcher.astro
  packages/base/astro/components/SidebarNavigation.astro
  packages/base/astro/layouts/Markdown.astro
  packages/base/astro/layouts/index.ts
  packages/base/src/index.ts
  packages/base/src/virtual.d.ts
Due: prettier --write, eslint --fix

Fix layout overflow issue in Layout.astro
  packages/docs/astro/Layout.astro
Due: prettier --write

fix: add horizontal scroll to markdown tables for mobile
  packages/base/src/globals.css
Due: prettier --write

feat(docs): add llms.txt generation support (#129)
  .changeset/llms-txt-support.md
  apps/demos/i18n/astro.config.mjs
  apps/demos/i18n/tests/e2e/llms-txt.spec.ts
  apps/docs/astro.config.mjs
  apps/docs/docs/de/docs-package.md
  apps/docs/docs/en/docs-package.md
  packages/base/astro/components/SidebarElement.astro
  packages/base/astro/components/types.ts
  packages/docs/astro/Layout.astro
  packages/docs/astro/LlmsTxtSidebarLabel.astro
  packages/docs/src/index.ts
  packages/docs/src/llmsTxt.ts
Due: prettier --write, eslint --fix

feat: implement Docusaurus feature parity enhancements
  apps/docs/docs/de/roadmap.md
  apps/docs/docs/en/roadmap.md
  package-lock.json
  packages/base/astro/components/Admonition.astro
  packages/base/astro/components/TabItem.astro
  packages/base/astro/components/Tabs.astro
  packages/base/astro/components/index.ts
  packages/base/package.json
  packages/base/src/globals.css
  packages/base/src/index.ts
  packages/base/src/rehype/rehypeAdmonitions.ts
  packages/base/src/remark/remarkAdmonitions.ts
  packages/base/src/remark/remarkCodeBlocks.test.ts
  packages/base/src/remark/remarkCodeBlocks.ts
  packages/blog/astro/BlogArchive.astro
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogFeed.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogTag.astro
  packages/blog/astro/BlogTagsIndex.astro
  packages/blog/package.json
  packages/blog/src/index.ts
  packages/blog/src/tools/feed.test.ts
  packages/blog/src/tools/feed.ts
  packages/blog/src/tools/readingTime.test.ts
  packages/blog/src/tools/readingTime.ts
  packages/blog/src/tools/truncate.test.ts
  packages/blog/src/tools/truncate.ts
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,astro,css,json,yaml}) or (any of: *.{mdx,js,jsx,ts,tsx})
  eslint --fix: any of: *.{mdx,js,jsx,ts,tsx}
