Repository levino/shipyard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,astro,css,json,yaml}": ["prettier --write"],
  "*.{mdx,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

feat: simplify CSS imports with conditional exports
  .changeset/simpler-css-imports.md
  apps/demos/i18n/src/styles/app.css
  apps/demos/server-mode/src/styles/app.css
  apps/demos/single-locale/src/styles/app.css
  apps/demos/versioned-docs/src/styles/app.css
  apps/demos/versioned-i18n/src/styles/app.css
  apps/docs/astro.config.mjs
  apps/docs/docs/de/getting-started.md
  apps/docs/docs/de/guides/tailwind-setup.md
  apps/docs/docs/en/getting-started.md
  apps/docs/docs/en/guides/index.md
  apps/docs/docs/en/guides/tailwind-setup.md
  apps/docs/src/styles/app.css
  packages/base/index.css
  packages/base/package.json
  packages/blog/index.css
  packages/blog/package.json
  packages/docs/index.css
  packages/docs/package.json
Due: prettier --write

fix: only import shipyard packages that are dependencies
  apps/demos/broken-links-test/src/styles/app.css
  apps/demos/i18n/astro.config.mjs
  apps/demos/i18n/docs/en/feature.md
  apps/demos/i18n/docs/en/feature.mdx
  apps/demos/i18n/package.json
  apps/demos/i18n/src/content.config.ts
  apps/demos/versioned-docs/src/styles/app.css
  apps/demos/versioned-i18n/src/styles/app.css
  package-lock.json
Due: prettier --write, eslint --fix

chore: add GitHub CLI to devcontainer
  .devcontainer/devcontainer.json
Due: prettier --write

chore: add zellij terminal multiplexer to devcontainer
  .devcontainer/devcontainer.json
Due: prettier --write

fix: add prerender export to fix getStaticPaths warnings in SSR mode
  packages/blog/astro/BlogArchive.astro
  packages/blog/astro/BlogAuthorPage.astro
  packages/blog/astro/BlogAuthorsIndex.astro
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
  packages/blog/astro/BlogTagPage.astro
  packages/blog/astro/BlogTagsIndex.astro
  packages/blog/astro/feeds/atom.xml.ts
  packages/blog/astro/feeds/feed.json.ts
  packages/blog/astro/feeds/rss.xml.ts
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

fix: resolve multiple layout and design issues in page builder
  .changeset/fix-layout-design-issues.md
  DESIGN-ANALYSIS.md
  packages/base/astro/components/GlobalDesktopNavigation.astro
  packages/base/astro/components/SidebarNavigation.astro
  packages/base/astro/layouts/Page.astro
Due: prettier --write

fix: add missing favicon.svg to single-locale demo
  apps/demos/single-locale/public/favicon.svg
Due: none

fix: add bottom padding to content area for breathing room before footer
  packages/base/astro/layouts/Page.astro
Due: prettier --write

fix: vertically center navbar menu items, theme toggle, and language switcher
  packages/base/astro/components/GlobalDesktopNavigation.astro
Due: prettier --write

fix: add Cloudflare redirects for missing German docs/guides in i18n demo
  apps/demos/i18n/public/_redirects
Due: none

fix: redesign blog index with card layout and image support
  apps/demos/single-locale/blog/2024-09-01-getting-started.md
  apps/demos/single-locale/blog/2024-09-03-content-management.md
  apps/demos/single-locale/blog/2024-09-05-advanced-features.md
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
Due: prettier --write

fix: use proper DaisyUI card and badge components for blog listing
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
  packages/blog/astro/BlogTags.astro
Due: prettier --write

docs: add DaisyUI-first styling rules to CLAUDE.md
  CLAUDE.md
Due: prettier --write

Update devcontainer.json to remove unnecessary features
  .devcontainer/devcontainer.json
Due: prettier --write

Update Claude model version in workflow
  .github/workflows/claude.yml
Due: none

Fix mobile sidebar not extending to full viewport height
  packages/base/astro/layouts/Page.astro
Due: prettier --write

Add changeset for mobile sidebar fix
  .changeset/fix-mobile-sidebar-height.md
Due: prettier --write

fix: use Astro image() schema helper and <Image> component for blog/docs images
  .changeset/fix-image-handling.md
  apps/demos/single-locale/blog/2024-09-01-getting-started.md
  apps/demos/single-locale/blog/2024-09-03-content-management.md
  apps/demos/single-locale/blog/2024-09-05-advanced-features.md
  apps/demos/single-locale/blog/images/advanced-features.png
  apps/demos/single-locale/blog/images/content-management.png
  apps/demos/single-locale/blog/images/getting-started.png
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
  packages/blog/src/index.ts
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

chore: update package-lock.json
  package-lock.json
Due: prettier --write

fix: update docs SEO demo image to local file and fix E2E test
  apps/demos/single-locale/docs/seo-features.md
  apps/demos/single-locale/docs/seo-image.png
  apps/demos/single-locale/tests/e2e/new-features.spec.ts
Due: prettier --write, eslint --fix

feat: add head named slot to Page layout for custom head elements
  .changeset/add-head-slot.md
  apps/demos/single-locale/src/pages/head-slot-example.astro
  apps/demos/single-locale/tests/e2e/head-slot.spec.ts
  apps/docs/docs/de/base-package.md
  apps/docs/docs/en/base-package.md
  packages/base/astro/layouts/Page.astro
Due: prettier --write, eslint --fix

Make entire blog cards clickable, not just headings
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
Due: prettier --write

Add changeset and docs for clickable blog cards
  .changeset/clickable-blog-cards.md
  apps/docs/docs/de/blog-package.md
  apps/docs/docs/en/blog-package.md
Due: prettier --write

fix: remove wrapper div breaking mobile sidebar full-height
  apps/demos/single-locale/tests/e2e/mobile-nav.spec.ts
  packages/base/astro/layouts/Page.astro
Due: prettier --write, eslint --fix

chore: add changeset for mobile nav fix
  .changeset/fix-mobile-nav-menu.md
Due: prettier --write

feat: support multiple blog instances per site
  .changeset/multi-instance-blog.md
  apps/demos/single-locale/astro.config.mjs
  apps/demos/single-locale/newsletters/2024-12-15-december-update.md
  apps/demos/single-locale/newsletters/2025-01-15-january-update.md
  apps/demos/single-locale/newsletters/2025-02-15-february-update.md
  apps/demos/single-locale/reports/2024-10-01-q3-summary.md
  apps/demos/single-locale/reports/2025-01-01-annual-review-2024.md
  apps/demos/single-locale/reports/2025-02-01-performance-benchmark.md
  apps/demos/single-locale/src/content.config.ts
  apps/demos/single-locale/tests/e2e/multi-blog.spec.ts
  packages/blog/astro/BlogArchive.astro
  packages/blog/astro/BlogAuthorPage.astro
  packages/blog/astro/BlogAuthorsIndex.astro
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
  packages/blog/astro/BlogTagPage.astro
  packages/blog/astro/BlogTagsIndex.astro
  packages/blog/astro/Layout.astro
  packages/blog/package.json
  packages/blog/src/index.ts
  packages/blog/src/staticPaths.ts
Due: prettier --write, eslint --fix

chore: update package-lock.json after version bump
  package-lock.json
Due: prettier --write

refactor: remove any types and underscore prop prefixes from blog package
  apps/demos/i18n/astro.config.mjs
  apps/demos/single-locale/astro.config.mjs
  packages/blog/astro/BlogArchive.astro
  packages/blog/astro/BlogAuthorPage.astro
  packages/blog/astro/BlogAuthorsIndex.astro
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
  packages/blog/astro/BlogTagPage.astro
  packages/blog/astro/BlogTagsIndex.astro
  packages/blog/astro/Layout.astro
  packages/blog/src/index.ts
Due: prettier --write, eslint --fix

Merge pull request #206 from levino/claude/multi-instance-block-package-4iybw
  .changeset/multi-instance-blog.md
  apps/demos/i18n/astro.config.mjs
  apps/demos/single-locale/astro.config.mjs
  apps/demos/single-locale/newsletters/2024-12-15-december-update.md
  apps/demos/single-locale/newsletters/2025-01-15-january-update.md
  apps/demos/single-locale/newsletters/2025-02-15-february-update.md
  apps/demos/single-locale/reports/2024-10-01-q3-summary.md
  apps/demos/single-locale/reports/2025-01-01-annual-review-2024.md
  apps/demos/single-locale/reports/2025-02-01-performance-benchmark.md
  apps/demos/single-locale/src/content.config.ts
  apps/demos/single-locale/tests/e2e/multi-blog.spec.ts
  package-lock.json
  packages/blog/astro/BlogArchive.astro
  packages/blog/astro/BlogAuthorPage.astro
  packages/blog/astro/BlogAuthorsIndex.astro
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
  packages/blog/astro/BlogTagPage.astro
  packages/blog/astro/BlogTagsIndex.astro
  packages/blog/astro/Layout.astro
  packages/blog/package.json
  packages/blog/src/index.ts
  packages/blog/src/staticPaths.ts
Due: prettier --write, eslint --fix

refactor: replace string-based code generation with registry pattern in blog plugin
  packages/blog/astro/BlogArchive.astro
  packages/blog/astro/BlogAuthorPage.astro
  packages/blog/astro/BlogAuthorsIndex.astro
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogIndexPaginated.astro
  packages/blog/astro/BlogTagPage.astro
  packages/blog/astro/BlogTagsIndex.astro
  packages/blog/astro/pages/BlogArchive.astro
  packages/blog/astro/pages/BlogAuthorPage.astro
  packages/blog/astro/pages/BlogAuthorsIndex.astro
  packages/blog/astro/pages/BlogEntry.astro
  packages/blog/astro/pages/BlogIndex.astro
  packages/blog/astro/pages/BlogIndexPaginated.astro
  packages/blog/astro/pages/BlogTagPage.astro
  packages/blog/astro/pages/BlogTagsIndex.astro
  packages/blog/astro/pages/feeds/atom.xml.ts
  packages/blog/astro/pages/feeds/feed.json.ts
  packages/blog/astro/pages/feeds/rss.xml.ts
  packages/blog/package.json
  packages/blog/src/feeds.ts
  packages/blog/src/index.ts
  packages/blog/src/staticPaths.ts
  packages/blog/src/virtual.d.ts
Due: prettier --write, eslint --fix

chore: update devcontainer config
  .devcontainer/devcontainer.json
  package-lock.json
Due: prettier --write

fix: changeset to patch (no breaking change)
  .changeset/multi-instance-blog.md
Due: prettier --write

Update Claude workflow permissions settings
  .github/workflows/claude.yml
Due: none

Upgrade to Astro 6 with all dependency updates
  apps/demos/broken-links-test/package.json
  apps/demos/i18n/astro.config.mjs
  apps/demos/i18n/package.json
  apps/demos/i18n/src/pages/de/about.md
  apps/demos/i18n/src/pages/de/index.md
  apps/demos/server-mode/package.json
  apps/demos/server-mode/wrangler.toml
  apps/demos/single-locale/package.json
  apps/demos/versioned-docs/package.json
  apps/demos/versioned-i18n/package.json
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/pages/de/about.md
  apps/docs/src/pages/de/index.md
  apps/docs/src/pages/de/search.astro
  apps/test/server-mode/package.json
  package-lock.json
  package.json
  packages/base/package.json
  packages/blog/package.json
  packages/blog/src/index.ts
  packages/docs/package.json
  packages/docs/src/index.ts
  packages/docs/src/schema.test.ts
Due: prettier --write, eslint --fix

Add .wrangler/ to .gitignore
  .gitignore
Due: none

Restore i18n fallback config, require Node 24, add engines field
  .github/workflows/changeset.yml
  .github/workflows/checks.yml
  .node-version
  apps/demos/i18n/astro.config.mjs
  apps/docs/astro.config.mjs
  package.json
Due: prettier --write

Fix Cloudflare server-mode deploy for @astrojs/cloudflare v13
  apps/demos/server-mode/astro.config.mjs
  apps/demos/server-mode/wrangler-build.toml
  apps/demos/server-mode/wrangler.toml
Due: none

Add changeset for Astro 6 upgrade (breaking change)
  .changeset/astro-6-upgrade.md
Due: prettier --write
