Repository levino/shipyard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,astro,css,json,yaml}": ["prettier --write"],
  "*.{mdx,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

Update Claude model version to 4-7
  .github/workflows/claude.yml
Due: none

fix(og-images): force frontmatter image: through Astro's image pipeline
  .changeset/og-image-force-pipeline.md
  CLAUDE.md
  apps/demos/single-locale/astro.config.mjs
  apps/demos/single-locale/src/assets/default-og.png
  apps/demos/single-locale/tests/e2e/new-features.spec.ts
  apps/docs/docs/de/base-package.md
  apps/docs/docs/en/base-package.md
  packages/base/src/schemas/config.ts
  packages/blog/src/index.ts
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

revert(og-images): keep defaultImage as a string passthrough
  CLAUDE.md
  apps/demos/single-locale/astro.config.mjs
  apps/demos/single-locale/public/default-og.png
  apps/demos/single-locale/tests/e2e/new-features.spec.ts
  apps/docs/docs/de/base-package.md
  apps/docs/docs/en/base-package.md
  packages/base/src/schemas/config.ts
Due: prettier --write, eslint --fix

fix(blog): cap featured image height and request optimized variants
  .changeset/blog-index-image-sizing.md
  packages/blog/astro/BlogIndex.astro
Due: prettier --write

fix(docs): use page title as SEO/OG title fallback
  .changeset/docs-seo-title-fallback.md
  package-lock.json
  packages/docs/astro/DocsEntry.astro
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

feat(seo): complete head meta + refactor docs routes to real .astro files
  .changeset/blog-tag-import-warnings.md
  .changeset/docs-real-astro-routes.md
  .changeset/seo-head-additions.md
  CLAUDE.md
  apps/demos/i18n/docs/en/index.md
  apps/demos/i18n/tests/e2e/docs-plugin-features.spec.ts
  apps/demos/single-locale/src/pages/head-slot-example.astro
  apps/demos/single-locale/tests/e2e/head-slot.spec.ts
  packages/base/astro/layouts/Page.astro
  packages/base/src/schemas/config.ts
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/BlogTagPage.astro
  packages/blog/astro/BlogTagsIndex.astro
  packages/docs/astro/DocsEntry.astro
  packages/docs/astro/pages/DocsEntry.astro
  packages/docs/astro/pages/DocsVersionRedirect.astro
  packages/docs/src/docsStaticPaths.test.ts
  packages/docs/src/docsStaticPaths.ts
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

ci: run e2e in the Playwright container instead of installing browsers
  .github/workflows/checks.yml
Due: none

ci: speed up e2e via chromium-only install + browser cache (drop container)
  .github/workflows/checks.yml
Due: none

ci: cancel superseded runs (concurrency) and add job timeouts
  .github/workflows/checks.yml
Due: none

ci: run e2e in Playwright container with --ipc=host
  .github/workflows/checks.yml
Due: none

ci: fix git-ownership/shallow clone so metadata e2e tests pass in container
  .github/workflows/checks.yml
Due: none

chore(deps): upgrade to Astro 7 and latest major dependencies
  .changeset/olive-jars-hammer.md
  .github/copilot-instructions.md
  CLAUDE.md
  apps/demos/broken-links-test/package.json
  apps/demos/i18n-docusaurus/docusaurus.config.ts
  apps/demos/i18n-docusaurus/package.json
  apps/demos/i18n/package.json
  apps/demos/server-mode/package.json
  apps/demos/single-locale-docusaurus/docusaurus.config.ts
  apps/demos/single-locale-docusaurus/package.json
  apps/demos/single-locale/package.json
  apps/demos/versioned-docs-docusaurus/docusaurus.config.ts
  apps/demos/versioned-docs-docusaurus/package.json
  apps/demos/versioned-docs/package.json
  apps/demos/versioned-i18n/package.json
  apps/docs/docs/de/base-package.md
  apps/docs/docs/de/guides/markdown-features.md
  apps/docs/docs/en/base-package.md
  apps/docs/docs/en/guides/markdown-features.md
  apps/docs/package.json
  apps/docs/src/pages/de/search.astro
  apps/docs/src/pages/en/search.astro
  apps/test/server-mode/package.json
  package-lock.json
  package.json
  packages/base/README.md
  packages/base/package.json
  packages/base/src/index.ts
  packages/base/src/markdownProcessor.test.ts
  packages/blog/README.md
  packages/blog/package.json
  packages/docs/README.md
  packages/docs/package.json
Due: prettier --write, eslint --fix

fix(base): wrap long sidebar entries instead of overflowing the sidebar
  .changeset/long-sidebar-titles-wrap.md
  apps/demos/single-locale-docusaurus/blog/2024-09-07-long-title.md
  apps/demos/single-locale/blog/2024-09-07-long-title.md
  apps/demos/single-locale/tests/e2e/blog-sidebar.spec.ts
  package-lock.json
  packages/base/astro/components/SidebarElement.astro
Due: prettier --write, eslint --fix

ci: fix the release-candidate job, update actions, run tests that were skipped
  .github/workflows/changeset.yml
  .github/workflows/checks.yml
  .github/workflows/claude.yml
  apps/demos/broken-links-test/package.json
Due: prettier --write

chore(deps): upgrade all dependencies and regenerate the lockfile
  .changeset/fresh-dependencies.md
  apps/demos/i18n-docusaurus/package.json
  apps/demos/i18n/package.json
  apps/demos/i18n/playwright.config.ts
  apps/demos/server-mode/package.json
  apps/demos/single-locale-docusaurus/package.json
  apps/demos/single-locale/package.json
  apps/demos/single-locale/playwright.config.ts
  apps/demos/versioned-docs-docusaurus/package.json
  apps/demos/versioned-docs/package.json
  apps/demos/versioned-docs/playwright.config.ts
  apps/demos/versioned-i18n/package.json
  apps/demos/versioned-i18n/playwright.config.ts
  apps/docs/package.json
  apps/test/server-mode/package.json
  biome.json
  package-lock.json
  package.json
  packages/base/package.json
  packages/base/src/tools/linkChecker.test.ts
  packages/base/src/virtual.d.ts
  packages/blog/package.json
  packages/blog/src/virtual.d.ts
  packages/docs/package.json
Due: prettier --write, eslint --fix

chore: housekeeping
  .github/copilot-instructions.md
  .github/dependabot.yml
  .husky/pre-commit
  .husky/prepare-commit-msg
  CLAUDE.md
  scripts/create-demo-symlinks.sh
  scripts/verify-css-classes.sh
Due: prettier --write

fix(base): stop warning about satteri when the user never set a processor
  .changeset/quiet-markdown-processor.md
  package-lock.json
  packages/base/package.json
  packages/base/src/index.ts
  packages/base/src/markdownProcessor.test.ts
  packages/base/src/markdownProcessor.ts
Due: prettier --write, eslint --fix
