Repository levino/shipyard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{md,astro}": ["prettier --write"],
  "*.{mdx,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"]
}

fix
  bun.lockb
Due: none

chore: update lockfile
  bun.lockb
Due: none

thrash
  bun.lockb
Due: none

feat: use pnpm instead of bun
  .github/workflows/checks.yml
  .prettierignore
  bun.lockb
  bunfig.toml
  package.json
  pnpm-lock.yaml
  src/components/tools.test.ts
  vercel.json
Due: prettier --write, eslint --fix

thrash
  package.json
  pnpm-lock.yaml
Due: none

redirect
  _redirects
  vercel.json
Due: none

thrash
  src/pages/[locale]/blog/[...slug].astro
  src/pages/[locale]/blog/_Sidebar.astro
  src/pages/[locale]/docs/[...slug].astro
Due: prettier --write

thrash
  astro.config.js
  src/pages/index.astro
Due: prettier --write, eslint --fix

fix stuff
  package.json
  pnpm-lock.yaml
  src/components/LinkCard.tsx
  src/pages/de/about.md
  src/pages/de/index.mdx
Due: prettier --write, eslint --fix

chore: make it prettier
  astro.config.js
  bun.lockb
  components.json
  package.json
  pnpm-lock.yaml
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/LinkCard.tsx
  src/components/Sidebar.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/navigation-menu.tsx
  src/content/blog/de/2023-08-23-garden-update/index.mdx
  src/content/docs/de/gardening/meadow/mahd.mdx
  src/content/schema.ts
  src/css/custom.css
  src/layouts/Footer.astro
  src/layouts/Header.astro
  src/layouts/Page.astro
  src/layouts/Splash.astro
  src/layouts/WithSidebar.astro
  src/lib/utils.ts
  src/pages/blog/[locale]/[...slug].astro
  src/pages/blog/[locale]/_Sidebar.astro
  src/pages/blog/de/index.astro
  src/pages/de/about.md
  src/pages/de/imprint.mdx
  src/pages/de/index.mdx
  src/pages/de/work.mdx
  src/pages/docs/[locale]/[...slug].astro
  src/pages/docs/[locale]/_Sidebar.astro
  src/pages/garden/[locale]/beds/[...slug].astro
  src/pages/garden/[locale]/plants/[...slug].astro
  src/pages/garden/[locale]/plants/[page].astro
  src/pages/private/house.mdx
  src/styles/globals.css
  src/tools/sidebarEntries.ts
  tailwind.config.js
  tailwind.config.mjs
  tsconfig.json
Due: prettier --write, eslint --fix

add a shopping list
  pnpm-lock.yaml
  src/content/config.ts
  src/content/shoppingLists/2024.yaml
  src/content/suppliers/bingenheimer.yaml
  src/content/suppliers/reinsaat.yaml
  src/content/vegetables/artichokeGreenGlobe.yaml
  src/content/vegetables/cardy.yaml
  src/pages/garden/[locale]/vegetables/shopping-list.astro
Due: prettier --write, eslint --fix

more plants
  .lintstagedrc.json
  components.json
  src/components/PlantTable.tsx
  src/components/ui/table.tsx
  src/content/plants/_template.yaml
  src/content/plants/agastacheCana.yaml
  src/content/plants/agastacheFoeniculum.yaml
  src/content/plants/agastacheRugosaAlba.yaml
  src/content/plants/alchemillaMollis.yaml
  src/content/plants/asterNoviBelgii.yaml
  src/content/plants/hyssopusOfficinale.yaml
  src/content/plants/raublattAster.yaml
  src/content/schema.ts
  src/layouts/Header.astro
  src/pages/garden/[locale]/plants/[page].astro
  src/pages/garden/[locale]/vegetables/shopping-list.astro
  src/styles/globals.css
Due: prettier --write, eslint --fix

feat: add sowing calendar
  src/content/_plantSchema.ts
  src/content/config.ts
  src/content/plants/_template.yaml
  src/content/plants/agastacheCana.yaml
  src/content/plants/agastacheFoeniculum.yaml
  src/content/plants/agastacheRugosaAlba.yaml
  src/content/plants/alchemillaMollis.yaml
  src/content/plants/asterNovaeAngliae.yaml
  src/content/plants/asterNoviBelgii.yaml
  src/content/plants/astrantiaMajor.yaml
  src/content/plants/euphorbiaCharacias.yaml
  src/content/plants/geraniumSanguineum.yaml
  src/content/plants/geumRivale.yaml
  src/content/plants/hyssopusOfficinale.yaml
  src/content/plants/polemoniumCaeruleum.yaml
  src/content/plants/rhamnusFrangula.yaml
  src/content/plants/succisaPratensis.yaml
  src/content/plants/valerianaOfficinalis.yaml
  src/content/schema.ts
  src/content/shoppingLists/2024.yaml
  src/content/suppliers/baumschuleEggert.yaml
  src/content/suppliers/saatgutVielfalt.yaml
  src/pages/garden/[locale]/shopping-list.astro
  src/pages/garden/[locale]/sowing-calendar.astro
Due: prettier --write, eslint --fix

feat: more plants
  src/components/PlantTable.tsx
  src/content/_plantSchema.ts
  src/content/plants/agastacheRugosaBlau.yaml
  src/content/plants/alchemillaMollis.yaml
  src/content/plants/alchemillaXanthochlora.yaml
  src/content/plants/althaeaOfficinalis.yaml
  src/content/plants/aquilegiaAtrata.yaml
  src/content/plants/aquilegiaVulgaris.yaml
  src/content/plants/aquilegiaVulgarisAlba.yaml
  src/content/plants/aquilegiaVulgarisBauerngarten.yaml
  src/content/plants/calaminthaNepeta.yaml
  src/content/plants/dipsachusFullonum.yaml
  src/content/plants/knautiaMacedonica.yaml
  src/content/plants/malvaAlceaFastigiata.yaml
  src/content/plants/malvaSylvestris.yaml
  src/content/plants/stachysByzantina.yaml
  src/content/plants/stachysMonnieri.yaml
  src/content/plants/vernoniaNoveboracensis.yaml
  src/content/suppliers/honigPflanzen.yaml
Due: prettier --write, eslint --fix

feat: more veg
  src/content/_vegetableSchema.ts
  src/content/config.ts
  src/content/suppliers/culinaris.yaml
  src/content/vegetables/artichokeGreenGlobe.yaml
  src/content/vegetables/brassicaOleraceaVarBotrytisL.yaml
  src/content/vegetables/lycopersiconEsculentum.yaml
  src/content/vegetables/solanumMelongenaLeaAS.yaml
  src/pages/garden/[locale]/vegetables.astro
Due: prettier --write, eslint --fix

chore: remove unused file
  src/pages/garden/[locale]/vegetables.astro
Due: prettier --write

feat: improvement on navigation
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  package.json
  patches/util@0.12.5.patch
  pnpm-lock.yaml
  postcss.config.js
  src/components/Header.tsx
  src/components/LocalNavigation.tsx
  src/components/MobileSidebar.stories.tsx
  src/components/MobileSidebar.tsx
  src/components/Sidebar.tsx
  src/components/SidebarElement.stories.tsx
  src/components/SidebarElement.tsx
  src/components/ui/navigation-menu.tsx
  src/pages/blog/[locale]/_Sidebar.astro
  src/pages/de/index.mdx
  src/pages/docs/[locale]/[...slug].astro
  src/pages/docs/[locale]/_Sidebar.astro
  src/tools/sidebarEntries.ts
  src/types.ts
  tailwind.config.mjs
Due: prettier --write, eslint --fix

more stuff
  .eslintignore
  .prettierrc
  .prettierrc.mjs
  apps/levinkeller.de/package.json
  apps/levinkeller.de/src/components/Header.tsx
  apps/levinkeller.de/src/components/SidebarElement.tsx
  apps/levinkeller.de/src/components/ui/card.tsx
  apps/levinkeller.de/src/components/ui/navigation-menu.tsx
  apps/levinkeller.de/src/components/ui/table.tsx
  apps/levinkeller.de/src/env.d.ts
  apps/levinkeller.de/src/layouts/Header.tsx
  apps/levinkeller.de/src/layouts/MarkdownSplash.astro
  apps/levinkeller.de/src/layouts/Page.astro
  apps/levinkeller.de/src/pages/blog/[locale]/[...slug].astro
  apps/levinkeller.de/src/pages/blog/de/index.astro
  bun.lockb
  package.json
  patches/util@0.12.5.patch
  pnpm-lock.yaml
  task-table.pdf
Due: prettier --write, eslint --fix

further moving to packages
  .storybook/main.ts
  .storybook/preview.ts
  apps/levinkeller.de/README.md
  apps/levinkeller.de/components.json
  apps/levinkeller.de/package.json
  apps/levinkeller.de/src/components/Footer.tsx
  apps/levinkeller.de/src/components/Header.tsx
  apps/levinkeller.de/src/components/LinkCard.tsx
  apps/levinkeller.de/src/components/LocalNavigation.tsx
  apps/levinkeller.de/src/components/MobileSidebar.stories.tsx
  apps/levinkeller.de/src/components/MobileSidebar.tsx
  apps/levinkeller.de/src/components/Plant/SowingIcon.tsx
  apps/levinkeller.de/src/components/Plant/index.tsx
  apps/levinkeller.de/src/components/PlantTable.tsx
  apps/levinkeller.de/src/components/SidebarElement.stories.tsx
  apps/levinkeller.de/src/components/SidebarElement.tsx
  apps/levinkeller.de/src/components/TableOfContents.tsx
  apps/levinkeller.de/src/components/ui/button.tsx
  apps/levinkeller.de/src/components/ui/card.tsx
  apps/levinkeller.de/src/components/ui/navigation-menu.tsx
  apps/levinkeller.de/src/components/ui/table.tsx
  apps/levinkeller.de/src/content/config.ts
  apps/levinkeller.de/src/layouts/Footer.astro
  apps/levinkeller.de/src/layouts/Header.tsx
  apps/levinkeller.de/src/layouts/Page.astro
  apps/levinkeller.de/src/lib/utils.ts
  apps/levinkeller.de/src/pages/blog/[locale]/[...slug].astro
  apps/levinkeller.de/src/pages/blog/[locale]/_Sidebar.astro
  apps/levinkeller.de/src/pages/de/index.mdx
  apps/levinkeller.de/src/pages/docs/[locale]/_Sidebar.astro
  apps/levinkeller.de/src/styles/globals.css
  apps/levinkeller.de/src/types.ts
  apps/levinkeller.de/tailwind.config.mjs
  apps/levinkeller.de/theme.config.jsx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: prettier --write, eslint --fix

statisfy prettier
  .prettierrc.mjs
  apps/levinkeller.de/src/layouts/MarkdownSplash.astro
Due: prettier --write

feat: add more plants
  apps/levinkeller.de/src/content/_plantSchema.ts
Due: prettier --write, eslint --fix

feat: add more plants
  apps/levinkeller.de/src/content/plants/acanthusMollis.yaml
  apps/levinkeller.de/src/content/plants/centaureaScabiosa.yaml
  apps/levinkeller.de/src/content/plants/cephalariaDipsacoides.yaml
  apps/levinkeller.de/src/content/plants/cephalariaGigantea.yaml
  apps/levinkeller.de/src/content/plants/cheloneObliqua.yaml
  apps/levinkeller.de/src/content/plants/chrysanthemumCarinatum.yaml
  apps/levinkeller.de/src/content/plants/consolidaAjacisCarmineKing.yaml
  apps/levinkeller.de/src/content/plants/dahliaVariabilis.yaml
  apps/levinkeller.de/src/content/plants/delphiniumBelladonna.yaml
  apps/levinkeller.de/src/content/plants/delphiniumBelladonnaCasaBlanca.yaml
  apps/levinkeller.de/src/content/plants/hesperisMatronalis.yaml
  apps/levinkeller.de/src/content/plants/lactucaSativaVarCapitata.yaml
Due: none

fix: improve navigation bar behaviour on mobile
  apps/levinkeller.de/src/pages/de/index.mdx
  apps/levinkeller.de/tailwind.config.mjs
  shipyard/base/components/GlobalDesktopNavigation.tsx
  shipyard/base/components/SidebarNavigation.tsx
  shipyard/base/layouts/Page.astro
  shipyard/docs/Layout.astro
Due: prettier --write, eslint --fix

feat: make headings in prose links
  apps/levinkeller.de/astro.config.js
  apps/levinkeller.de/package.json
  apps/levinkeller.de/tailwind.config.mjs
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: readd sitemap to page head
  apps/levinkeller.de/package.json
  pnpm-lock.yaml
  shipyard/base/layouts/Page.astro
Due: prettier --write

feat: improve garden planner design and functionality
  apps/levinkeller.de/astro.config.js
  apps/levinkeller.de/src/content/beds/de/1.md
  apps/levinkeller.de/src/content/config.ts
  apps/levinkeller.de/src/content/plants/delphiniumBelladonna.yaml
  apps/levinkeller.de/src/content/plants/delphiniumBelladonnaCasaBlanca.yaml
  apps/levinkeller.de/src/content/suppliers/bingenheimer.yaml
  apps/levinkeller.de/src/pages/[locale]/docs/_Sidebar.astro
  apps/levinkeller.de/src/pages/[locale]/garden/beds/[...slug].astro
  apps/levinkeller.de/src/pages/[locale]/garden/beds/index.astro
  apps/levinkeller.de/src/pages/[locale]/garden/shopping-list.astro
  apps/levinkeller.de/src/pages/[locale]/garden/sowing-calendar.astro
  apps/levinkeller.de/src/pages/[locale]/garden/vegetables/[...slug].astro
  apps/levinkeller.de/src/pages/[locale]/garden/vegetables/[page].astro
  apps/levinkeller.de/src/pages/de/about.md
  apps/levinkeller.de/src/pages/de/imprint.mdx
  apps/levinkeller.de/src/pages/de/index.mdx
  apps/levinkeller.de/src/pages/de/work.mdx
  shipyard/base/components/GlobalDesktopNavigation.tsx
  shipyard/base/layouts/Page.astro
  shipyard/base/layouts/Splash.astro
  shipyard/docs/Layout.astro
Due: prettier --write, eslint --fix

chore: update sowing calendar
  apps/levinkeller.de/src/content/plants/acanthusMollis.yaml
  apps/levinkeller.de/src/content/plants/agastacheCana.yaml
Due: none

feat: add more plants
  apps/levinkeller.de/src/content/_plantSchema.ts
  apps/levinkeller.de/src/content/plants/.DS_Store
  apps/levinkeller.de/src/content/plants/baptisiaAustralis.yaml
  apps/levinkeller.de/src/content/plants/delphiniumBelladonnaBellamosum.yaml
  apps/levinkeller.de/src/content/plants/echinaceaParadiso.yaml
  apps/levinkeller.de/src/content/plants/echinopsSphaerocephalus.yaml
  apps/levinkeller.de/src/content/plants/gaillardiaPulchellaSundanceRed.yaml
  apps/levinkeller.de/src/content/plants/gauraLindheimeri.yaml
  apps/levinkeller.de/src/content/plants/geumCoccineumBorisii.yaml
  apps/levinkeller.de/src/content/plants/heleniumAutumnaleRotgoldHybriden.yaml
  apps/levinkeller.de/src/content/plants/heliophilaLongifolia.yaml
  apps/levinkeller.de/src/content/plants/moluccellaLaevis.yaml
  apps/levinkeller.de/src/content/plants/nicotianaSylvestris.yaml
  apps/levinkeller.de/src/content/plants/penstemonDigitalisHuskerRed.yaml
  apps/levinkeller.de/src/content/plants/penstemonHartwegiiSensationMix.yaml
  apps/levinkeller.de/src/content/plants/penstemonSerrulatus.yaml
  apps/levinkeller.de/src/content/plants/penstemonSmallii.yaml
  apps/levinkeller.de/src/content/plants/petuniaHybrida.yaml
  apps/levinkeller.de/src/content/plants/rudbeckiaOccidentalis.yaml
  apps/levinkeller.de/src/content/plants/sanguisorbaTenuifoliaAlba.yaml
  apps/levinkeller.de/src/content/plants/scabiosaAtropurpureaOxfordBlue.yaml
  apps/levinkeller.de/src/content/plants/scabiosaAtropurpureaSnowmaiden.yaml
  apps/levinkeller.de/src/content/plants/zeaMaysJaponica.yaml
Due: prettier --write, eslint --fix

chore: set petunia to sown
  apps/levinkeller.de/src/content/plants/petuniaHybrida.yaml
Due: none

fix: update sowing period for petunia
  apps/levinkeller.de/src/content/plants/petuniaHybrida.yaml
Due: none

fix: formatting issues
  .lintstagedrc.json
  apps/levinkeller.de/src/content/plants/echinopsSphaerocephalus.yaml
  apps/levinkeller.de/src/content/plants/gaillardiaPulchellaSundanceRed.yaml
  apps/levinkeller.de/src/content/plants/gauraLindheimeri.yaml
  apps/levinkeller.de/src/content/plants/heleniumAutumnaleRotgoldHybriden.yaml
  apps/levinkeller.de/src/content/plants/heliophilaLongifolia.yaml
  apps/levinkeller.de/src/content/plants/moluccellaLaevis.yaml
  apps/levinkeller.de/src/content/plants/penstemonDigitalisHuskerRed.yaml
  apps/levinkeller.de/src/content/plants/penstemonHartwegiiSensationMix.yaml
  apps/levinkeller.de/src/content/plants/penstemonSerrulatus.yaml
  apps/levinkeller.de/src/content/plants/penstemonSmallii.yaml
  apps/levinkeller.de/src/content/plants/scabiosaAtropurpureaOxfordBlue.yaml
  apps/levinkeller.de/src/content/plants/scabiosaAtropurpureaSnowmaiden.yaml
  apps/levinkeller.de/src/content/plants/zeaMaysJaponica.yaml
Due: none

feat: update garden planner
  apps/levinkeller.de/src/content/_plantSchema.ts
  apps/levinkeller.de/src/content/plants/alchemillaMollis.yaml
  apps/levinkeller.de/src/content/plants/alchemillaXanthochlora.yaml
  apps/levinkeller.de/src/content/plants/astrantiaMajor.yaml
  apps/levinkeller.de/src/content/plants/vernoniaNoveboracensis.yaml
  apps/levinkeller.de/src/content/plants/veronicaLongifolia.yaml
Due: prettier --write, eslint --fix

feat: add new purchase
  apps/levinkeller.de/src/content/vegetables/alliumCepaKarmen.yaml
  apps/levinkeller.de/src/content/vegetables/alliumCepaStuttgarterRiesen.yaml
  apps/levinkeller.de/src/content/vegetables/capsicumAnnuumCapelaOrange.yaml
  apps/levinkeller.de/src/content/vegetables/capsicumAnnuumPootPepper.yaml
Due: none

feat: add more veg
  apps/levinkeller.de/src/content/suppliers/kiepenkerl.yaml
  apps/levinkeller.de/src/content/suppliers/samenMaier.yaml
  apps/levinkeller.de/src/content/suppliers/sperli.yaml
  apps/levinkeller.de/src/content/vegetables/alliumCepaAvalon.yaml
  apps/levinkeller.de/src/content/vegetables/alliumCepaGelbeLaaer.yaml
  apps/levinkeller.de/src/content/vegetables/alliumCepaStuttgarterRiesen.yaml
  apps/levinkeller.de/src/content/vegetables/brassicaOleraceaConvarBotrytisVarItalicaRamosoCalabrese.yaml
  apps/levinkeller.de/src/content/vegetables/brassicaOleraceaVarBotrytisDiSiciliaVioletto.yaml
  apps/levinkeller.de/src/content/vegetables/brassicaOleraceaVarBotrytisNeckarperle.yaml
  apps/levinkeller.de/src/content/vegetables/cichoriumEndiviaNuance.yaml
  apps/levinkeller.de/src/content/vegetables/cichoriumIntybusAureliaTT.yaml
  apps/levinkeller.de/src/content/vegetables/cichoriumIntybusFeniceTT.yaml
  apps/levinkeller.de/src/content/vegetables/cichoriumIntybusTreviso206TT.yaml
  apps/levinkeller.de/src/content/vegetables/cichoriumIntybusVarFoliosumRadicchioTT506.yaml
  apps/levinkeller.de/src/content/vegetables/coriandrumSativum.yaml
  apps/levinkeller.de/src/content/vegetables/foeniculumVulgare.yaml
  apps/levinkeller.de/src/content/vegetables/lactucaSativaLolloBionda.yaml
  apps/levinkeller.de/src/content/vegetables/lactucaSativaNansensNoordpool.yaml
  apps/levinkeller.de/src/content/vegetables/lactucaSativaVarCapitataLucinde.yaml
  apps/levinkeller.de/src/content/vegetables/lactucaSativaVarCrispaLalita.yaml
  apps/levinkeller.de/src/content/vegetables/lactucaSativaVarCrispaLolloRossa copy.yaml
  apps/levinkeller.de/src/content/vegetables/lactucaSativaVarCrispaRedSaladBowl.yaml
  apps/levinkeller.de/src/content/vegetables/lactucaSativaVarLongifoliaLattughinoRiccioLollo.yaml
  apps/levinkeller.de/src/content/vegetables/lactucaSativaVarLongifoliaLittleGem.yaml
  apps/levinkeller.de/src/content/vegetables/lactucaSativaVarLongifoliaRosha.yaml
  apps/levinkeller.de/src/content/vegetables/petroselinumCrispum.yaml
  apps/levinkeller.de/src/pages/[locale]/docs/[...slug].astro
  apps/levinkeller.de/src/pages/[locale]/docs/_Sidebar.astro
  apps/levinkeller.de/src/pages/[locale]/garden/plants/[page].astro
  apps/levinkeller.de/src/pages/[locale]/garden/shopping-list.astro
  apps/levinkeller.de/src/pages/[locale]/garden/vegetables/[page].astro
  shipyard/garden-planner/components/VegetableTable.tsx
Due: prettier --write, eslint --fix
