Repository levino/shipyard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix(ralph): add --verbose for stream-json
  ralph/ralph.sh
Due: none

debug(ralph): tee raw json to stderr for debugging
  ralph/ralph.sh
Due: none

feat(ralph): streaming output with jq parsing
  ralph/ralph.sh
Due: none

feat(docs): implement versioned content directory structure
  packages/docs/src/index.ts
  packages/docs/src/routeHelpers.test.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(docs): generate static paths for all versions with 'latest' alias
  packages/docs/src/index.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(docs): add redirect from docs root to current version
  packages/docs/src/index.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

test(regression): verify existing demos work with versioning changes
  ralph/tasks.json
Due: prettier --write

feat(base): add VersionSelector UI component
  packages/base/astro/components/VersionSelector.astro
  packages/base/astro/components/index.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(base,docs): integrate VersionSelector into layouts
  packages/base/astro/components/GlobalDesktopNavigation.astro
  packages/base/astro/components/SidebarNavigation.astro
  packages/base/astro/layouts/Page.astro
  packages/docs/astro/Layout.astro
  ralph/tasks.json
Due: prettier --write

feat(demo): create versioned-docs demo application
  apps/demos/versioned-docs/.gitignore
  apps/demos/versioned-docs/README.md
  apps/demos/versioned-docs/astro.config.mjs
  apps/demos/versioned-docs/docs/v1/configuration.md
  apps/demos/versioned-docs/docs/v1/index.md
  apps/demos/versioned-docs/docs/v1/installation.md
  apps/demos/versioned-docs/docs/v2/configuration.md
  apps/demos/versioned-docs/docs/v2/index.md
  apps/demos/versioned-docs/docs/v2/installation.md
  apps/demos/versioned-docs/docs/v2/migration.md
  apps/demos/versioned-docs/package.json
  apps/demos/versioned-docs/playwright.config.ts
  apps/demos/versioned-docs/src/content.config.ts
  apps/demos/versioned-docs/src/env.d.ts
  apps/demos/versioned-docs/src/pages/about.md
  apps/demos/versioned-docs/src/pages/index.md
  apps/demos/versioned-docs/tailwind.config.mjs
  apps/demos/versioned-docs/tests/e2e/versioned-docs.spec.ts
  apps/demos/versioned-docs/tsconfig.json
  package-lock.json
  ralph/tasks.json
Due: prettier --write, eslint --fix

chore(ralph): update task status and learnings
  ralph/learnings.md
  ralph/tasks.json
Due: prettier --write

chore: initialize ralph with empty tasks for publish-docs-on-release
  ralph/PROMPT.md
  ralph/learnings.md
  ralph/ralph-once.sh
  ralph/ralph.sh
  ralph/tasks.json
Due: prettier --write

feat(docs): implement version-aware sidebar filtering
  apps/demos/versioned-docs/tests/e2e/versioned-docs.spec.ts
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
  packages/docs/src/sidebarEntries.test.ts
  packages/docs/src/sidebarEntries.ts
  packages/docs/src/versionHelpers.ts
  ralph/learnings.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

chore(ralph): verify i18n demo compatibility with versioning changes
  ralph/tasks.json
Due: prettier --write

test(versioned-docs): add comprehensive E2E tests for VersionSelector
  apps/demos/versioned-docs/tests/e2e/version-selector.spec.ts
  packages/docs/astro/Layout.astro
  ralph/learnings.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

test(versioned-docs): add E2E tests for version routing
  apps/demos/versioned-docs/tests/e2e/versioned-docs.spec.ts
  ralph/learnings.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

test(versioned-docs): add comprehensive E2E tests for version-specific sidebar
  apps/demos/versioned-docs/tests/e2e/version-sidebar.spec.ts
  packages/docs/astro/Layout.astro
  ralph/learnings.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

docs(versioning): add comprehensive versioning guide (English)
  apps/docs/docs/en/guides/index.md
  apps/docs/docs/en/guides/versioning.md
  ralph/tasks.json
Due: prettier --write

chore(ralph): update task status for docs-versioning-guide-en
  ralph/tasks.json
Due: prettier --write

chore(changeset): add changeset for versioned docs feature
  .changeset/versioned-docs-feature.md
  ralph/tasks.json
Due: prettier --write

docs(api): add versioning documentation to API reference
  apps/docs/docs/en/docs-package.md
  packages/docs/README.md
  ralph/tasks.json
Due: prettier --write

feat(docs): expose version helpers via virtual module
  packages/docs/src/index.ts
  packages/docs/src/virtual-module.d.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(demo): create versioned-i18n demo combining versioning with i18n
  apps/demos/versioned-i18n/.gitignore
  apps/demos/versioned-i18n/astro.config.mjs
  apps/demos/versioned-i18n/docs/v1/de/configuration.md
  apps/demos/versioned-i18n/docs/v1/de/index.md
  apps/demos/versioned-i18n/docs/v1/de/installation.md
  apps/demos/versioned-i18n/docs/v1/en/configuration.md
  apps/demos/versioned-i18n/docs/v1/en/index.md
  apps/demos/versioned-i18n/docs/v1/en/installation.md
  apps/demos/versioned-i18n/docs/v2/de/configuration.md
  apps/demos/versioned-i18n/docs/v2/de/index.md
  apps/demos/versioned-i18n/docs/v2/de/installation.md
  apps/demos/versioned-i18n/docs/v2/de/migration.md
  apps/demos/versioned-i18n/docs/v2/en/configuration.md
  apps/demos/versioned-i18n/docs/v2/en/index.md
  apps/demos/versioned-i18n/docs/v2/en/installation.md
  apps/demos/versioned-i18n/docs/v2/en/migration.md
  apps/demos/versioned-i18n/package.json
  apps/demos/versioned-i18n/playwright.config.ts
  apps/demos/versioned-i18n/src/content.config.ts
  apps/demos/versioned-i18n/src/env.d.ts
  apps/demos/versioned-i18n/src/pages/de/about.md
  apps/demos/versioned-i18n/src/pages/de/index.md
  apps/demos/versioned-i18n/src/pages/en/about.md
  apps/demos/versioned-i18n/src/pages/en/index.md
  apps/demos/versioned-i18n/tailwind.config.mjs
  apps/demos/versioned-i18n/tests/e2e/versioned-i18n.spec.ts
  apps/demos/versioned-i18n/tsconfig.json
  package-lock.json
  ralph/learnings.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

ci: add versioned demos to E2E test matrix
  .github/workflows/checks.yml
  ralph/tasks.json
Due: prettier --write

feat(base): add VersionBadge component for version status display
  apps/demos/versioned-docs/tests/e2e/version-badge.spec.ts
  packages/base/astro/components/VersionBadge.astro
  packages/base/astro/components/index.ts
  packages/docs/astro/Layout.astro
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(docs): implement hide_table_of_contents frontmatter support
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
  packages/docs/src/schema.test.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(base): add DeprecationBanner component for deprecated version warnings
  apps/demos/versioned-docs/tests/e2e/deprecation-banner.spec.ts
  packages/base/astro/components/DeprecationBanner.astro
  packages/base/astro/components/index.ts
  packages/docs/astro/Layout.astro
  ralph/tasks.json
Due: prettier --write, eslint --fix

test(docs): add unit tests for version schema validation
  packages/docs/src/versionSchema.test.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(docs): implement SEO meta tags support (keywords, og:image, twitter:card)
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
  packages/docs/src/schema.test.ts
  ralph/tasks.json
Due: prettier --write, eslint --fix

docs: add migration guide for versioned docs
  apps/docs/docs/en/guides/index.md
  apps/docs/docs/en/guides/migration-to-versioned.md
  ralph/tasks.json
Due: prettier --write

feat(docs): implement hide_title frontmatter support
  packages/base/src/globals.css
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
  ralph/history.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(demo): create Docusaurus counterpart for versioned-docs demo
  apps/demos/versioned-docs-docusaurus/docs/configuration.md
  apps/demos/versioned-docs-docusaurus/docs/index.md
  apps/demos/versioned-docs-docusaurus/docs/installation.md
  apps/demos/versioned-docs-docusaurus/docs/migration.md
  apps/demos/versioned-docs-docusaurus/docusaurus.config.ts
  apps/demos/versioned-docs-docusaurus/package.json
  apps/demos/versioned-docs-docusaurus/sidebars.ts
  apps/demos/versioned-docs-docusaurus/src/css/custom.css
  apps/demos/versioned-docs-docusaurus/src/pages/about.md
  apps/demos/versioned-docs-docusaurus/src/pages/index.md
  apps/demos/versioned-docs-docusaurus/static/img/favicon.svg
  apps/demos/versioned-docs-docusaurus/tsconfig.json
  apps/demos/versioned-docs-docusaurus/versioned_docs/version-1.0/configuration.md
  apps/demos/versioned-docs-docusaurus/versioned_docs/version-1.0/index.md
  apps/demos/versioned-docs-docusaurus/versioned_docs/version-1.0/installation.md
  apps/demos/versioned-docs-docusaurus/versioned_sidebars/version-1.0-sidebars.json
  apps/demos/versioned-docs-docusaurus/versions.json
  package-lock.json
  ralph/learnings.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(docs): implement pagination_label frontmatter support
  apps/demos/single-language/tests/e2e/new-features.spec.ts
  packages/docs/src/index.ts
  packages/docs/src/pagination.ts
  packages/docs/src/schema.test.ts
  ralph/history.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

docs: add German translation for versioning guide
  apps/docs/docs/de/guides/index.md
  apps/docs/docs/de/guides/versioning.md
  ralph/tasks.json
Due: prettier --write

chore(ralph): mark canonical_url and custom_meta_tags tasks as completed
  ralph/history.md
  ralph/tasks.json
Due: prettier --write

feat(docs): implement sidebar badge support via sidebar_custom_props
  apps/demos/single-language/tests/e2e/new-features.spec.ts
  packages/base/astro/components/SidebarElement.astro
  packages/base/astro/components/types.ts
  packages/docs/src/index.ts
  packages/docs/src/schema.test.ts
  packages/docs/src/sidebarEntries.ts
  ralph/history.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

feat(docs): implement custom document ID support for pagination
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
  packages/docs/src/pagination.ts
  packages/docs/src/schema.test.ts
  packages/docs/src/sidebarEntries.ts
  ralph/history.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

docs: add German translation for migration guide
  apps/docs/docs/de/guides/migration-to-versioned.md
  ralph/tasks.json
Due: prettier --write

docs: add basic versioning example to docs
  apps/docs/docs/de/examples/basic-versioning.md
  apps/docs/docs/de/examples/index.md
  apps/docs/docs/en/examples/basic-versioning.md
  apps/docs/docs/en/examples/index.md
  ralph/tasks.json
Due: prettier --write

feat(docs): implement title_meta frontmatter support
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
  packages/docs/src/schema.test.ts
  ralph/history.md
  ralph/tasks.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{md,astro,css,json,yaml}) or (any of: *.{mdx,js,jsx,ts,tsx})
  eslint --fix: any of: *.{mdx,js,jsx,ts,tsx}
