Repository levino/shipyard: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

--wip-- [skip ci]
  package-lock.json
  package.json
  packages/garden-planner/lib/Plant/SowingIcon.d.ts
  packages/garden-planner/lib/Plant/SowingIcon.js
  packages/garden-planner/lib/Plant/SowingIcon.jsx
  packages/garden-planner/lib/Plant/index.d.ts
  packages/garden-planner/lib/Plant/index.js
  packages/garden-planner/lib/Plant/index.jsx
  packages/garden-planner/lib/PlantTable.d.ts
  packages/garden-planner/lib/PlantTable.js
  packages/garden-planner/lib/PlantTable.jsx
  packages/garden-planner/lib/VegetableTable.d.ts
  packages/garden-planner/lib/VegetableTable.js
  packages/garden-planner/lib/VegetableTable.jsx
  packages/garden-planner/package.json
  packages/garden-planner/src/components/Plant/SowingIcon.tsx
  packages/garden-planner/src/components/Plant/index.tsx
  packages/garden-planner/src/components/PlantTable.tsx
  packages/garden-planner/src/components/VegetableTable.tsx
  turbo.json
Due: prettier --write, eslint --fix

progress
  packages/base/astro/components/GlobalDesktopNavigation.astro
  packages/base/astro/components/SidebarNavigation.astro
  packages/base/astro/layouts/Page.astro
  packages/base/package.json
  packages/base/src/astro.ts
  packages/base/src/globals.css
  packages/base/src/index.ts
  packages/base/src/schemas/config.ts
  packages/base/src/tools/cn.ts
  packages/base/src/types.ts
  packages/blog/package.json
  packages/blog/src/astro.ts
  packages/blog/src/index.ts
  packages/blog/tsconfig.json
  packages/docs/astro/Layout.astro
  packages/docs/package.json
  packages/docs/src/index.ts
  packages/docs/src/sidebarEntries.test.ts
  packages/docs/src/sidebarEntries.ts
  packages/docs/tsconfig.build.json
  packages/docs/tsconfig.json
  turbo.json
Due: prettier --write, eslint --fix

improve
  packages/base/src/index.ts
Due: prettier --write, eslint --fix

I like it
  .changeset/README.md
  apps/demo/astro.config.mjs
  apps/demo/blog/en/2024-01-10-blog-post-1.md
  apps/demo/docs/de/feature.md
  apps/demo/docs/de/index.md
  apps/demo/docs/en/feature.md
  apps/demo/docs/en/index.md
  apps/demo/src/pages/en/about.md
  apps/demo/src/pages/en/blog/index.astro
  apps/demo/src/pages/en/index.md
  apps/demo/tailwind.config.mjs
  apps/docs/astro.config.mjs
  apps/docs/src/pages/en/blog/index.astro
  package-lock.json
  packages/base/astro/layouts/Page.astro
  packages/base/astro/layouts/Splash.astro
  packages/base/package.json
  packages/base/src/index.ts
  packages/base/src/schemas/config.ts
  packages/blog/package.json
  packages/docs/astro/Layout.astro
  packages/docs/package.json
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

add changeset
  .changeset/six-dogs-watch.md
Due: prettier --write

update release script
  .github/workflows/changeset.yml
Due: none

make base a dep instead of peer dep to prevent major version bumps https://github.com/changesets/changesets/issues/1011
  package-lock.json
  packages/blog/package.json
  packages/docs/package.json
Due: prettier --write

remove custom release script packages can be published as are
  .github/workflows/changeset.yml
Due: none

prevent publication of whole project
  package.json
Due: prettier --write

add a publish script
  .github/workflows/changeset.yml
Due: none

disable unnecessary build
  packages/docs/package.json
Due: prettier --write

feat: improve blog functionality
  .changeset/ninety-gorillas-lay.md
  .devcontainer/devcontainer.json
  apps/demo/astro.config.mjs
  apps/demo/package.json
  apps/demo/src/pages/en/blog/index.astro
  apps/docs/astro.config.mjs
  package-lock.json
  packages/base/src/schemas/config.ts
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/Layout.astro
  packages/blog/src/astro.ts
  packages/blog/src/index.ts
  patches/util@0.12.5.patch
Due: prettier --write, eslint --fix

do not format changeset files
  deno.json
Due: prettier --write

--wip-- [skip ci]
  packages/base/astro/components/GlobalDesktopNavigation.astro
  packages/base/astro/layouts/Footer.astro
  packages/base/astro/layouts/Page.astro
  packages/docs/astro/DefaultLocaleDocsEntry.astro
  packages/docs/astro/DocsEntry.astro
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

enable usage without i18n
  .changeset/polite-fans-tap.md
  package-lock.json
  packages/base/astro/components/GlobalDesktopNavigation.astro
  packages/base/astro/layouts/Footer.astro
  packages/base/astro/layouts/Page.astro
  packages/docs/astro/DefaultLocaleDocsEntry.astro
  packages/docs/astro/DocsEntry.astro
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

Update .changeset/fix-undefined-title-issue.md
  .changeset/fix-undefined-title-issue.md
Due: prettier --write

show "blog" as a title for the blog index page.
  packages/blog/astro/BlogIndex.astro
Due: prettier --write

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  package-lock.json
Due: prettier --write

improve structure remove support for pages without i18n
  apps/demo/astro.config.mjs
  apps/docs/astro.config.mjs
  apps/single-locale-demo/README.md
  apps/single-locale-demo/astro.config.mjs
  apps/single-locale-demo/blog/2024-01-10-blog-post-1.md
  apps/single-locale-demo/docs/feature.md
  apps/single-locale-demo/docs/index.md
  apps/single-locale-demo/package.json
  apps/single-locale-demo/playwright.config.ts
  apps/single-locale-demo/public/favicon.svg
  apps/single-locale-demo/src/assets/astro.svg
  apps/single-locale-demo/src/assets/background.svg
  apps/single-locale-demo/src/content.config.ts
  apps/single-locale-demo/src/env.d.ts
  apps/single-locale-demo/src/pages/about.md
  apps/single-locale-demo/src/pages/index.md
  apps/single-locale-demo/tailwind.config.mjs
  apps/single-locale-demo/tests/e2e/navigation-single-locale.spec.ts
  apps/single-locale-demo/tests/e2e/titles.spec.ts
  apps/single-locale-demo/tsconfig.json
  packages/base/astro/layouts/Page.astro
  packages/base/src/index.ts
  packages/base/src/schemas/config.ts
  packages/base/virtual.d.ts
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/Layout.astro
  packages/docs/astro/DocsEntry.astro
  packages/docs/src/index.ts
Due: prettier --write, eslint --fix

use biome instead of deno
  .changeset/plenty-sheep-sing.md
  .github/copilot-instructions.md
  .github/workflows/checks.yml
  .gitignore
  .husky/pre-commit
  apps/demo/astro.config.mjs
  apps/demo/playwright.config.ts
  apps/demo/src/content.config.ts
  apps/demo/tailwind.config.mjs
  apps/docs/astro.config.mjs
  apps/docs/src/content.config.ts
  apps/docs/tailwind.config.mjs
  biome.json
  packages/base/astro/components/SidebarNavigation.astro
  packages/base/astro/layouts/Footer.astro
  packages/base/astro/layouts/Page.astro
  packages/base/src/globals.css
  packages/base/src/index.ts
  packages/blog/astro/BlogEntry.astro
  packages/blog/astro/BlogIndex.astro
  packages/blog/astro/Layout.astro
  packages/blog/src/index.ts
  packages/docs/astro/DefaultLocaleDocsEntry.astro
  packages/docs/astro/DocsEntry.astro
  packages/docs/astro/Layout.astro
  packages/docs/src/index.ts
  packages/docs/src/sidebarEntries.test.ts
  packages/docs/src/sidebarEntries.ts
Due: prettier --write, eslint --fix

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Disable setupGitUser in changeset workflow
  .github/workflows/changeset.yml
Due: none

try to fix publish pr ci runs
  .github/workflows/changeset.yml
Due: none

force release
  .changeset/tiny-badgers-accept.md
Due: prettier --write

Change documentation link in Readme.md
  Readme.md
Due: prettier --write

Change default redirect from '/de' to '/en'
  apps/demo/astro.config.mjs
Due: none

remove broken i18n code in footer
  package-lock.json
  package.json
  packages/base/astro/layouts/Footer.astro
Due: prettier --write

reproduce non working config import
  packages/blog/astro/BlogIndex.astro
Due: prettier --write

use current astro to enable usage of 'astro:config'
  apps/demo/package.json
  apps/docs/package.json
  package-lock.json
  packages/base/package.json
  packages/blog/astro/BlogIndex.astro
  packages/blog/package.json
  packages/docs/package.json
Due: prettier --write

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

allow npx for claude
  .github/workflows/claude.yml
Due: none

Delete essential workflow section from CLAUDE.md
  CLAUDE.md
Due: prettier --write

stuff
  .github/workflows/claude.yml
  .husky/prepare-commit-msg
  lefthook.yml
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{md,astro,css,json,yaml}) or (any of: *.{mdx,js,jsx,ts,tsx})
  eslint --fix: any of: *.{mdx,js,jsx,ts,tsx}
